//Variables
$font-family-title: 'Montserrat', sans-serif;
$font-family-text: 'Roboto', sans-serif;
$colorTitle: #572EE5;
$colorTitleGreen:#50E3C2;
$colorBckgrd:#FFFFFF;
$colorBckgrdAfter:rgba(255, 255, 255, 0.6);
$colorBckgrd-nav-menu:rgba(87,46,229,0.90);
$colorPlaceHolder:#9CAFC3;
$mobile: 320px;
$tablet:768px;
$desktop: 1440px;

